@model IEnumerable<websample.Models.user>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="scr-tbl">
    <thead>
        <tr class="scr-r">
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th></th>
        </tr>    
    </thead>
    <tbody>
        <tr>
            <td colspan="4">
                <div id="scr-inner">
                    <table id="list">
                        <tbody></tbody>
                    </table>
                </div>
            </td>
        </tr>
    </tbody>

</table>

<button class="toolbtn btn_green" id="add"><i class="icon-plus icon-white"></i>追加する</button>

<div id="edit_dlg" title="" style="display:none">
    <p class="summary">入力してください</p>
    <table>
        <tr>
            <td class="td-r">名前</td>
            <td><input type="text" id="name" maxlength="30"></td>
        </tr>
        <tr>
            <td class="td-r">カナ</td>
            <td><input type="text" id="kana" maxlength="30"></td>
        </tr>
        <tr>
            <td class="td-r">電話</td>
            <td><input type="text" id="tel" maxlength="100"></td>
        </tr>
        <tr>
            <td class="td-r">パスワード</td>
            <td><input type="text" id="password" maxlength="100"></td>
        </tr>
    </table>
</div>

@section scripts {


}
