
@{
    ViewBag.Title = "test1";
}

<h2>test1</h2>

<table id="test1">
    <tr>
        <th>
        全角ひらがなを半角カナ
        </th>
        <td>
            <input type="text" class="in-item fhconvert" tabindex="1"  name="kana"/>
        </td>
    </tr>
    <tr>
        <th>
        全角英数を半角英数
        </th><td>
            <input type="text" class="in-item fhconvert" tabindex="2" data-fhconvert='ftoh' name="alpha"/>
        </td>
    </tr>
    <tr>
        <th>
            ラジオ
        </th>
        <td>
            <input type="radio" class ="in-item" tabindex="3" name="type" value="100" default checked>選択１
            <input type="radio" class ="in-item" tabindex="3" name="type" value="200">選択２
            <input type="radio" class ="in-item" tabindex="3" name="type" value="300">選択３
        </td>
    </tr>
    <tr>
        <th>
            年月選択
        </th>
        <td>
            <input type="text" class="in-item" tabindex="4" name="ym" />
        </td>
    </tr>
    <tr>
        <th>
            年選択
        </th>
        <td>
            @Html.DropDownList("yy", (IEnumerable<SelectListItem>)ViewBag.SelectOptions, new { @class = "in-item hoge" })
        </td>
    </tr>
    <tr>
        <th>
        </th>
        <td>
            <textarea class="in-item" name="memo"></textarea>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <button id="send">送信</button>
        </td>
    </tr>
</table>

<table id="test2">
    <tr>
        <th>
            全角ひらがなを半角カナ
        </th>
        <td>
            <input type="text" class="in-item fhconvert" tabindex="1" name="kana" />
        </td>
    </tr>
    <tr>
        <th>test</th>
        <td>
            @Html.ActionLink("送信２", "sendback", null, new { @class = "", @id = "send2", onclick = "return false;" })
        </td>
    </tr>
</table>