
@{
    ViewBag.Title = "test1";
}

<h2>test1</h2>

<table>
    <tr>
        <td>
            <input type="text" class="fhconvert" tabindex="1"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" class="fhconvert" tabindex="2" data-fhconvert='ftoh'/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" tabindex="3"/>
        </td>
    </tr>
</table>