
@{
    ViewBag.Title = "test1";
}

<h2>test1</h2>

<table>
    <tr>
        <td>
            <input type="text" class="tabstop kana fhconvert" tabindex="1" data-fhconvert='["hgtokk", "fkktohkk"]'/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" class="tabstop" tabindex="2"/>
        </td>
    </tr>
    <tr>
        <td>
            <input type="text" class="tabstop" tabindex="3"/>
        </td>
    </tr>
</table>