
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>
            @Html.ActionLink("フォーム入力その１", "test1", "Form", null, new { @class = "menu-btn" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("users", "index", "users", null, new { @class = "menu-btn2", @id = "user"})
        </td>
    </tr>
    <tr>
        <td>
            <button id="test1">テスト１</button>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("PDF", "index", "pdf", null, new { @class = "menu-btn" })
        </td>
    </tr>
</table>

