body {
}


table {
    margin-left: auto;
    margin-right: auto;
}

a#user {
    display:inline-block;
    background-image: url('button.gif');
/*    border:1px solid #ff6a00;*/
    width:300px;
    height:80px;
    font-size:0;
}

table.ui-datepicker-calendar a {
    padding:10px;
}

table.ui-datepicker-calendar td {
    width: 25%;
}

div.ui-datepicker { z-index: 1000 !important; }

