body {
    background-image:url('Shared/back.png');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:50px;
    padding-left: 15px;
    padding-right: 15px;
}


/* =========================================================*/
/*	ナビゲーションバー定義 */
/* ======================================================== */


.navbar {
	background-color:#3636A1;
	position:fixed;
	z-index:1030;
	width:100%;
	box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    line-height:19px;
}

.nav-left {
	float:left;
	overflow:hidden;
	list-style-type:none;
	margin-left:20px;
}

.nav-right {
	margin-right:30px;
	float:right;
	list-style-type:none;
	color:#ffffff;
}



/*-----------------------------------------------------------------
	グローバルナビ
-----------------------------------------------------------------*/
.g_navi,.g_title {
	display:block;
	text-align:center;
	text-decoration:none;
	float:left;
	padding-top:10px;
	padding-bottom:10px;
	width:149px;
	color:#EAEAEA;
	font-weight:900;
	background-color:#3636A1;
	font-family: 'HGMaruGothicMPRO';
}

.g_navi:hover {
	cursor:pointer;
	background-color: #4E4EE5;
	color: #FFF607;
	outline: none;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
	-webkit-backface-visibility: hidden;

	text-shadow:
	  0 0  2px #FEF61F,
	  0 0  4px #FCFAB5;

}

.menu_btn {
	cursor:pointer;
}

dl.dropdown-menu {
	position:absolute;
	margin:39px 0 0 0;
	padding:0px;
	width:149px;
	background-color:#1A8E02;

	-moz-box-shadow: 2px 2px 5px #aeaec2;
	-webkit-box-shadow: 2px 2px 5px #aeaec2;
	box-shadow: 2px 2px 5px #aeaec2;

}

.dropdown-menu, .dropdown-menu li, .dropdown-menu li a {
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
}



/*-----------------------------------------------------------------
	ボタン
		保存等のボタンは共通制御
-----------------------------------------------------------------*/



.navbar ul li {
	float:left;
	margin-left:0;
	padding-left:0;
}

.dropdown-menu li {
	list-style-type:none;
	width:150px;
}

#db_msg {
	padding:10px 5px;
	margin-left:10px;
}





/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

input:focus {
    background-color:#efa258;
}